<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="TmsDbContext" connectionString="Server=rm-bp1i61wd29uj628juyo.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=tmsbase;User ID=tmsuser;Password=ToolProject123456" providerName="System.Data.SqlClient" />-->
  <add name="TmsDbContext" connectionString="Server=.;Initial Catalog=NewTmsBase;User ID=sa;Password=luodan" providerName="System.Data.SqlClient" />

</connectionStrings>